@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100..900&family=Roboto+Slab:wght@100..900&display=swap");
body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, input, button, textarea, p, blockquote, th, td, figure {
  margin: 0;
  padding: 0;
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

img {
  border: 0;
  display: block;
}

legend, hr {
  display: none;
}

th {
  font-style: inherit;
  font-weight: inherit;
}

li {
  list-style: none;
}

caption, th {
  text-align: left;
}

h1, h2, h3, h4, h5, h6 {
  font-size: 100%;
  font-weight: normal;
}

a {
  outline: none;
  hlbr: expression(this.onFocus=this.blur());
  text-decoration: none;
  cursor: pointer;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* main.css ==============================================*/
/*Variable*/
/*Mixin*/
/*Reset*/
.clearfix:before, .clearfix:after {
  content: "";
  display: table;
}

.clearfix:after {
  clear: both;
}

.clearfix {
  zoom: 1;
  display: block;
}

.hide {
  display: none;
}

::-moz-selection {
  background: #000;
  color: #fff;
}

::selection {
  background: #000;
  color: #fff;
  text-decoration: none;
}

::-webkit-input-placeholder {
  color: #999;
}

::-moz-placeholder {
  color: #999;
}

*:focus {
  outline: none;
}

a {
  color: #292a35;
  text-decoration: none;
  -webkit-transition: color 0.4s;
  transition: color 0.4s;
}

a:hover {
  color: #ec827d;
}

*::-webkit-media-controls-overlay-play-button {
  display: none !important;
  -webkit-appearance: none;
}

/*Body*/
html {
  font-size: 1vw;
}

html.is-lock, body.is-lock {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

body {
  font-size: 1rem;
  color: #000;
  font-family: "Noto Sans TC", sans-serif;
  overflow-x: hidden;
  overflow-y: scroll;
  background-size: 100%;
  text-align: center;
}
body.lock {
  overflow: hidden;
}

* {
  -webkit-text-size-adjust: none;
     -moz-text-size-adjust: none;
      -ms-text-size-adjust: none;
          text-size-adjust: none;
}

.g-section {
  position: relative;
}
#g-wrap {
  width: 100%;
  height: 100%;
  position: relative;
  padding: 1rem 3.2rem;
  overflow: hidden;
  background: url(../img/bg10.jpg) repeat fixed;
  background-size: 100%;
}

#g-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-bottom: 1.5rem;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
#g-header h1 {
  font-size: 0;
  font-weight: 600;
  font-family: "Roboto Slab";
}
#g-header h1 span {
  font-size: 5.5rem;
  color: #292a35;
}
#g-header h1 .space {
  width: 3rem;
  display: inline-block;
}

#g-nav ol {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}
#g-nav li {
  margin: 0 2rem;
}
#g-nav a {
  font-size: 1.3rem;
  padding: 0 0.2rem;
  position: relative;
  font-weight: 200;
}
#g-nav a:before {
  content: "";
  width: 0;
  height: 0.08rem;
  background: #292a35;
  position: absolute;
  top: 50%;
  left: 0;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  -webkit-transition-timing-function: cubic-bezier(0.23, 1, 0.32, 1);
          transition-timing-function: cubic-bezier(0.23, 1, 0.32, 1);
}
#g-nav a:hover:before, #g-nav a.active:before {
  width: 100%;
}

#g-main {
  position: relative;
  min-height: calc(100vh - 15rem);
}

.list-page {
  position: fixed;
  top: 100%;
  opacity: 0;
  pointer-events: none;
}
.list-page > ol {
  display: -ms-grid;
  display: grid;
  grid-template-columns: repeat(auto-fill, 33.33%);
  grid-gap: 0rem;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.list-page > ol > li {
  width: 100%;
  opacity: 0;
  position: relative;
  overflow: hidden;
}
.list-page .img {
  position: relative;
  overflow: hidden;
  border-radius: 1rem;
}
.list-page .img img {
  width: 100%;
  display: block;
}
.list-page.active {
  position: static;
  opacity: 1;
  pointer-events: auto;
  -webkit-transition: 1s;
  transition: 1s;
}
.list-page.active > ol > li {
  -webkit-animation: list_li_show 0.5s cubic-bezier(0.23, 1, 0.32, 1) forwards;
          animation: list_li_show 0.5s cubic-bezier(0.23, 1, 0.32, 1) forwards;
}
@-webkit-keyframes list_li_show {
  0% {
    opacity: 0;
    -webkit-transform: translateY(200%) scale(0.5);
            transform: translateY(200%) scale(0.5);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0) scale(1);
            transform: translateY(0) scale(1);
  }
}
@keyframes list_li_show {
  0% {
    opacity: 0;
    -webkit-transform: translateY(200%) scale(0.5);
            transform: translateY(200%) scale(0.5);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0) scale(1);
            transform: translateY(0) scale(1);
  }
}
.list-page.active > ol > li:nth-of-type(1) {
  -webkit-animation-delay: 0.05s;
          animation-delay: 0.05s;
}
.list-page.active > ol > li:nth-of-type(2) {
  -webkit-animation-delay: 0.1s;
          animation-delay: 0.1s;
}
.list-page.active > ol > li:nth-of-type(3) {
  -webkit-animation-delay: 0.15s;
          animation-delay: 0.15s;
}
.list-page.active > ol > li:nth-of-type(4) {
  -webkit-animation-delay: 0.2s;
          animation-delay: 0.2s;
}
.list-page.active > ol > li:nth-of-type(5) {
  -webkit-animation-delay: 0.25s;
          animation-delay: 0.25s;
}
.list-page.active > ol > li:nth-of-type(6) {
  -webkit-animation-delay: 0.3s;
          animation-delay: 0.3s;
}
.list-page.active > ol > li:nth-of-type(7) {
  -webkit-animation-delay: 0.35s;
          animation-delay: 0.35s;
}
.list-page.active > ol > li:nth-of-type(8) {
  -webkit-animation-delay: 0.4s;
          animation-delay: 0.4s;
}
.list-page.active > ol > li:nth-of-type(9) {
  -webkit-animation-delay: 0.45s;
          animation-delay: 0.45s;
}
.list-page.active > ol > li:nth-of-type(10) {
  -webkit-animation-delay: 0.5s;
          animation-delay: 0.5s;
}
.list-page.active > ol > li:nth-of-type(11) {
  -webkit-animation-delay: 0.55s;
          animation-delay: 0.55s;
}
.list-page.active > ol > li:nth-of-type(12) {
  -webkit-animation-delay: 0.6s;
          animation-delay: 0.6s;
}
.list-page.active > ol > li:nth-of-type(13) {
  -webkit-animation-delay: 0.65s;
          animation-delay: 0.65s;
}
.list-page.active > ol > li:nth-of-type(14) {
  -webkit-animation-delay: 0.7s;
          animation-delay: 0.7s;
}
.list-page.active > ol > li:nth-of-type(15) {
  -webkit-animation-delay: 0.75s;
          animation-delay: 0.75s;
}
.list-page.active > ol > li:nth-of-type(16) {
  -webkit-animation-delay: 0.8s;
          animation-delay: 0.8s;
}
.list-page.active > ol > li:nth-of-type(17) {
  -webkit-animation-delay: 0.85s;
          animation-delay: 0.85s;
}
.list-page.active > ol > li:nth-of-type(18) {
  -webkit-animation-delay: 0.9s;
          animation-delay: 0.9s;
}
.list-page.active > ol > li:nth-of-type(19) {
  -webkit-animation-delay: 0.95s;
          animation-delay: 0.95s;
}
.list-page.active > ol > li:nth-of-type(20) {
  -webkit-animation-delay: 1s;
          animation-delay: 1s;
}
.list-page.active > ol > li:nth-of-type(21) {
  -webkit-animation-delay: 1.05s;
          animation-delay: 1.05s;
}
.list-page.active > ol > li:nth-of-type(22) {
  -webkit-animation-delay: 1.1s;
          animation-delay: 1.1s;
}
.list-page.active > ol > li:nth-of-type(23) {
  -webkit-animation-delay: 1.15s;
          animation-delay: 1.15s;
}
.list-page.active > ol > li:nth-of-type(24) {
  -webkit-animation-delay: 1.2s;
          animation-delay: 1.2s;
}
.list-page.active > ol > li:nth-of-type(25) {
  -webkit-animation-delay: 1.25s;
          animation-delay: 1.25s;
}
.list-page.active > ol > li:nth-of-type(26) {
  -webkit-animation-delay: 1.3s;
          animation-delay: 1.3s;
}
.list-page.active > ol > li:nth-of-type(27) {
  -webkit-animation-delay: 1.35s;
          animation-delay: 1.35s;
}
.list-page.active > ol > li:nth-of-type(28) {
  -webkit-animation-delay: 1.4s;
          animation-delay: 1.4s;
}
.list-page.active > ol > li:nth-of-type(29) {
  -webkit-animation-delay: 1.45s;
          animation-delay: 1.45s;
}
.list-page.active > ol > li:nth-of-type(30) {
  -webkit-animation-delay: 1.5s;
          animation-delay: 1.5s;
}

.detail-page {
  width: 82%;
  margin: 0 auto;
  padding: 3rem 3rem 3rem 3rem;
  background: #ffffff;
  border-top: 1px solid #666;
}
.detail-page img {
  max-width: 100%;
  outline: 1px solid #d3d3d3;
}
.detail-page h4 {
  letter-spacing: 0.1rem;
  font-size: 1rem;
  color: #c0bdbd;
}
.detail-page h3 {
  font-size: 1.8rem;
  letter-spacing: 0.1rem;
  margin: 0.5rem auto 2rem auto;
  color: #666666;
}
.detail-page .text {
  margin: 2rem auto 6rem auto;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  text-align: center;
}
.detail-page .text p {
  color: #666666;
  font-weight: 300;
  letter-spacing: 0.1rem;
  font-size: 1rem;
  line-height: 1.6;
}
.detail-page .text .out-links-but {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 8rem;
  height: 8rem;
  border: solid 1px #292a35;
  border-radius: 100rem;
  margin: 2rem auto 0;
  background: #292a35;
}
.detail-page .text .out-links-but span {
  font-size: 1rem;
  color: #fff;
}
.detail-page .text .out-links-but span:before {
  content: "";
  width: 2.5rem;
  height: 2.5rem;
  background: url(../img/link.svg) no-repeat;
  background-size: 100%;
  display: block;
  margin: 0 auto;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}
.detail-page .text .out-links-but:hover {
  -webkit-box-shadow: 0 0 2rem rgba(41, 42, 53, 0.3);
          box-shadow: 0 0 2rem rgba(41, 42, 53, 0.3);
}
.detail-page .text .out-links-but:hover span {
  color: #999;
}
.detail-page .text .out-links-but:hover span:before {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}
.detail-page .listname {
  font-family: "Roboto Slab";
  font-weight: 400;
  font-size: 2rem;
  color: #000;
}
.detail-page .listname:after {
  content: "";
  width: 3rem;
  border-bottom: 1px solid #000;
  display: block;
  margin: 1rem auto 3rem auto;
}
.detail-page .pc-profile {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  margin-bottom: 6rem;
}
.detail-page .pc-profile img {
  width: 45%;
}
.detail-page .one_list img {
  width: 80%;
}
.detail-page .mo-profile {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: -2rem;
}
.detail-page .mo-profile img {
  width: 25%;
  margin-left: 1rem;
  margin-right: 1rem;
  margin-bottom: 4rem;
}
.detail-page .conclusion {
  color: #d3d3d3;
  font-weight: 400;
  letter-spacing: 0.1rem;
  font-size: 1rem;
  line-height: 1.6;
  border-top: 1px solid #d3d3d3;
  border-bottom: 1px solid #d3d3d3;
  padding: 0.5rem 0.2rem;
  margin-top: 4rem;
  background: #fbfbfb;
}

#list-all > ol > li, #list-web > ol > li, #list-graphic > ol > li, #list-banner > ol > li {
  margin-bottom: 0.1rem;
  background-color: rgba(255, 255, 255, 0.65);
  -webkit-backdrop-filter: blur(0.2rem);
          backdrop-filter: blur(0.2rem);
  border: 1px solid #fff;
  -webkit-box-shadow: inset 0rem 0rem 1.5rem rgba(0, 0, 0, 0.2);
          box-shadow: inset 0rem 0rem 1.5rem rgba(0, 0, 0, 0.2);
  padding: 2rem;
  border-radius: 2.5rem;
  text-align: left;
  position: relative;
}
#list-all .txt-links, #list-web .txt-links, #list-graphic .txt-links, #list-banner .txt-links {
  display: block;
  margin-bottom: 1rem;
}
#list-all .txt-links h3, #list-web .txt-links h3, #list-graphic .txt-links h3, #list-banner .txt-links h3 {
  width: 100%;
  padding-right: 2rem;
}
#list-all .img, #list-web .img, #list-graphic .img, #list-banner .img {
  margin-bottom: 2rem;
}
#list-all .img img, #list-web .img img, #list-graphic .img img, #list-banner .img img {
  -webkit-transform: scale(1);
          transform: scale(1);
}
#list-all .img:hover .img img, #list-web .img:hover .img img, #list-graphic .img:hover .img img, #list-banner .img:hover .img img {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
  -webkit-transition: 2s;
  transition: 2s;
}
#list-all .img:hover .txt, #list-web .img:hover .txt, #list-graphic .img:hover .txt, #list-banner .img:hover .txt {
  -webkit-transform: scale(1);
          transform: scale(1);
  opacity: 1;
}
#list-all .txt, #list-web .txt, #list-graphic .txt, #list-banner .txt {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: rgba(255, 255, 255, 0.5);
  -webkit-backdrop-filter: blur(1rem);
          backdrop-filter: blur(1rem);
  opacity: 0;
  -webkit-transform: scale(0.8);
          transform: scale(0.8);
  -webkit-transition: 0.3s;
  transition: 0.3s;
  color: #fff;
  text-shadow: 0 0 2rem #000;
  border-radius: 1rem;
  text-align: center;
  padding: 3rem;
}
#list-all .txt h2, #list-web .txt h2, #list-graphic .txt h2, #list-banner .txt h2 {
  font-size: 1rem;
}
#list-all .txt small, #list-web .txt small, #list-graphic .txt small, #list-banner .txt small {
  font-size: 1rem;
  font-weight: bold;
  display: block;
}
#list-all .txt-links, #list-web .txt-links, #list-graphic .txt-links, #list-banner .txt-links {
  display: block;
}
#list-all .txt-links h3, #list-web .txt-links h3, #list-graphic .txt-links h3, #list-banner .txt-links h3 {
  color: #000;
  font-size: 1.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 0.3rem;
  position: relative;
  display: inline-block;
  font-weight: 400;
}
#list-all .txt-links h3 span, #list-web .txt-links h3 span, #list-graphic .txt-links h3 span, #list-banner .txt-links h3 span {
  position: relative;
}
#list-all .txt-links h3 span::after, #list-web .txt-links h3 span::after, #list-graphic .txt-links h3 span::after, #list-banner .txt-links h3 span::after {
  content: "";
  width: 0;
  height: 1px;
  background-color: #000;
  position: absolute;
  top: 90%;
  left: 0;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
#list-all .txt-links p, #list-web .txt-links p, #list-graphic .txt-links p, #list-banner .txt-links p {
  color: #767676;
  font-size: 0.9rem;
  letter-spacing: 0.1rem;
  -webkit-transition: 0.1s;
  transition: 0.1s;
  font-weight: 250;
}
#list-all a.txt-links:hover h3 span::after, #list-web a.txt-links:hover h3 span::after, #list-graphic a.txt-links:hover h3 span::after, #list-banner a.txt-links:hover h3 span::after {
  width: 100%;
}
#list-all a.txt-links:hover p, #list-web a.txt-links:hover p, #list-graphic a.txt-links:hover p, #list-banner a.txt-links:hover p {
  opacity: 0.5;
}
#list-all .out-links, #list-web .out-links, #list-graphic .out-links, #list-banner .out-links {
  background: url(../img/link.svg) 46% 50% no-repeat #292a35;
  background-size: 60%;
  display: block;
  width: 2rem;
  height: 2rem;
  position: absolute;
  top: 19.2rem;
  right: 2rem;
  z-index: 1;
  border-radius: 50%;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}
#list-all .out-links:hover, #list-web .out-links:hover, #list-graphic .out-links:hover, #list-banner .out-links:hover {
  background-color: #6f6f6f;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}
#list-all .tag, #list-web .tag, #list-graphic .tag, #list-banner .tag {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
}
#list-all .tag span, #list-web .tag span, #list-graphic .tag span, #list-banner .tag span {
  font-size: 0.9rem;
  color: #292a35;
  line-height: 1;
  padding: 0.3rem 0.7rem;
  border: 1px solid rgba(0, 0, 0, 0.1019607843);
  border-radius: 5rem;
  margin-right: 0.3rem;
  background-color: #fff;
  font-weight: 400;
}
#list-all .year, #list-web .year, #list-graphic .year, #list-banner .year {
  width: 50px;
  height: 50px;
  background-color: rgba(255, 50, 162, 0.9);
  border-radius: 5rem;
  display: block;
  font-size: 0.9rem;
  color: #fff;
  text-align: center;
  -ms-flex-line-pack: center;
      align-content: center;
  position: absolute;
  left: 11px;
  top: 11px;
}

#list-logo > ol {
  grid-template-columns: repeat(auto-fill, 30.8%);
}
#list-logo > ol > li {
  margin-bottom: 1.5rem;
}
#list-logo .img {
  border: 1px solid #ccc;
}
#list-logo .txt {
  text-align: left;
  font-size: 1.2rem;
  padding-top: 1rem;
}

#list-about {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-bottom: 5rem;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
#list-about .img {
  width: 30%;
}
#list-about .img img {
  margin-right: 0;
  width: 30%;
  margin-bottom: 2rem;
}
#list-about .text-iam-patty {
  width: 20rem;
  height: 10rem;
  background: url(../img/text-i-am-patty.svg) no-repeat center top;
  background-size: 100%;
  display: block;
  text-indent: -9999px;
  margin-bottom: 1rem;
}
#list-about .text-name {
  width: 17rem;
  height: 2.5rem;
  background: url(../img/text-name.svg) no-repeat center top;
  background-size: 100%;
  display: block;
  text-indent: -9999px;
  margin: 1rem 0 2rem;
}
#list-about .txt {
  width: 35%;
  text-align: left;
}
#list-about h3 {
  font-size: 1.5rem;
  margin-top: 3rem;
  font-weight: 500;
  color: #292a35;
  margin-bottom: 0.2rem;
}
#list-about h4 {
  font-size: 1.5rem;
  font-weight: 500;
  color: #ec827d;
  margin-bottom: 0.4rem;
}
#list-about dl {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 50rem;
  font-weight: 200;
}
#list-about dl dt {
  width: 30%;
}
#list-about dl dt:before {
  content: "";
  width: 0.5rem;
  height: 0.5rem;
  border: 0.15rem solid #ec827d;
  border-radius: 50rem;
  display: inline-block;
  margin-right: 0.5rem;
}
#list-about dl dd {
  width: 70%;
  font-size: 0.9rem;
}
#list-about dl ~ h4 {
  margin-top: 1rem;
}
#list-about .list-none {
  font-weight: 200;
}
#list-about .column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 35rem;
}
#list-about .list-dot li:before {
  content: "";
  width: 0.5rem;
  height: 0.5rem;
  border: 0.15rem solid #ec827d;
  border-radius: 50rem;
  display: inline-block;
  margin-right: 0.5rem;
}
#list-about .list-dot.has-2-col {
  -webkit-column-count: 2;
     -moz-column-count: 2;
          column-count: 2;
}

#list-detail img {
  width: 100%;
}
#list-detail.active #list-detail-close {
  opacity: 1;
  -webkit-transform: scale(1);
          transform: scale(1);
}
#list-detail.active #list-detail-close:hover {
  -webkit-transform: scale(1) rotate(90deg);
          transform: scale(1) rotate(90deg);
}

#list-detail-close, .close {
  cursor: pointer;
  position: fixed;
  top: 10rem;
  right: 4.5rem;
  width: 4rem;
  height: 4rem;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  background: url(../img/icon-close.svg) no-repeat center;
  border: 0.1rem solid #000;
  background-size: 45%;
  border-radius: 50%;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  -webkit-transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
          transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
  z-index: 5;
}
#list-detail-close:hover, .close:hover {
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
  opacity: 0.5;
}

#g-footer {
  padding: 2rem 0 0;
  font-weight: 200;
  letter-spacing: 0.1rem;
}

.context {
  width: 80%;
  margin: 0 auto;
  color: #666666;
  font-weight: 300;
  letter-spacing: 0.1rem;
  font-size: 1rem;
  text-align: justify;
}
.context h6 {
  line-height: 2;
  color: #000;
}
.context p {
  line-height: 1.6;
}

.textlist {
  color: #000;
  font-weight: 400;
  letter-spacing: 0.1rem;
  font-size: 1rem;
  margin-bottom: 2rem;
}

.w80 {
  width: 80%;
  margin: 0 auto;
}

.w90 {
  width: 90%;
  margin: 0 auto;
}

[class^=img-row-] {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 5rem;
}

.jcc {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.aic {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.ais {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
}

.img-row-1 img {
  width: 100%;
}

.img-row-2 img {
  width: 49.5%;
}

.img-row-3 img {
  width: 32.5%;
  margin-bottom: 0.6rem;
}

.img-row-4 img {
  width: 49.5%;
  margin-bottom: 0.6rem;
}

.img-row-4s img {
  width: 24%;
}

.img-row-6 img {
  width: 32.5%;
  margin-bottom: 0.6rem;
}

@media screen and (min-width: 900px) {
  .is-m {
    display: none !important;
  }
}
@media screen and (max-width: 900px) {
  .is-pc {
    display: none !important;
  }
  html {
    font-size: 4vw;
  }
  #g-wrap {
    padding: 1rem;
    overflow: visible;
  }
  #g-header {
    display: block;
  }
  #g-header h1 span {
    font-size: 2rem;
  }
  #g-header h1 .space {
    display: block;
  }
  #g-header.active #g-nav {
    left: 0;
    opacity: 1;
    pointer-events: auto;
  }
  #g-header.active #mo_menu {
    padding-top: 0.7rem;
  }
  #g-header.active #mo_menu > div {
    width: 60%;
    margin-top: 0.1rem;
    margin-left: 0.85rem;
  }
  #g-header.active #mo_menu > div:first-child {
    -webkit-transform-origin: 0 0;
            transform-origin: 0 0;
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
  }
  #g-header.active #mo_menu > div:nth-child(2) {
    opacity: 0;
  }
  #g-header.active #mo_menu > div:nth-child(3) {
    -webkit-transform-origin: 5% 100%;
            transform-origin: 5% 100%;
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
  }
  #mo_menu {
    width: 3rem;
    height: 3rem;
    position: fixed;
    right: 0.5rem;
    top: 1.5rem;
    z-index: 4;
    border: 1px solid #000;
    border-radius: 50rem;
    padding-top: 0.8rem;
  }
  #mo_menu > div {
    width: 55%;
    height: 1px;
    background: #000;
    margin-bottom: 0.5rem;
    margin-left: 0.65rem;
    -webkit-transition: 0.2s;
    transition: 0.2s;
  }
  #g-nav {
    position: absolute;
    top: 0;
    left: 100%;
    width: 100%;
    background: #eee;
    height: 100vh;
    opacity: 0;
    pointer-events: none;
    -webkit-transition: 0.2s;
    transition: 0.2s;
    z-index: 3;
  }
  #g-nav ol {
    display: block;
    margin-top: 10rem;
  }
  #g-nav a {
    margin: 3rem 1.5rem;
    display: block;
  }
  #g-nav a:hover, #g-nav a.active {
    color: #ec827d;
  }
  #g-nav a:hover:before, #g-nav a.active:before {
    height: 0.1rem;
    background-color: #ec827d;
  }
  #list-all > ol, #list-web > ol, #list-graphic > ol, #list-banner > ol {
    grid-template-columns: repeat(auto-fill, 100%);
  }
  #list-all > ol > li, #list-web > ol > li, #list-graphic > ol > li, #list-banner > ol > li {
    margin-bottom: 1rem;
  }
  #list-all .out-links, #list-web .out-links, #list-graphic .out-links, #list-banner .out-links {
    top: 14.6rem;
    width: 2.3rem;
    height: 2.3rem;
  }
  .close {
    width: 3rem;
    height: 3rem;
    border: 1px solid #000;
    position: sticky;
    top: 1rem;
    left: 25rem;
    display: block;
    background-color: #fff;
  }
  .detail-page {
    width: 100%;
    padding: 1rem 1rem 1rem 1rem;
  }
  .detail-page .text {
    text-align: left;
  }
  #list-about {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    padding-bottom: 0;
  }
  #list-about .img {
    width: 90%;
  }
  #list-about .img img {
    margin: 0 auto;
  }
  #list-about .txt {
    width: 100%;
  }
  #list-about .txt p {
    text-align: center;
  }
  #list-about .txt dl {
    width: 100%;
  }
  #list-about .txt dl dd {
    margin-bottom: 0.5rem;
    padding-left: 1.3rem;
    width: 100%;
  }
  #list-about .txt dt {
    width: 100%;
    margin-bottom: 0.1rem;
  }
  .w80, .w90 {
    width: 100%;
  }
  .detail-page .mo-profile img {
    width: 40%;
  }
  .img-row-4 img {
    width: 100%;
  }
  .img-row-3 img {
    width: 100%;
  }
  [class^=img-row-] {
    margin-bottom: 1rem;
  }
  .detail-page .pc-profile {
    margin-bottom: 2rem;
  }
}