@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100..900&family=Nunito+Sans:opsz,wght@6..12,1000&display=swap");
body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, input, button, textarea, p, blockquote, th, td, figure {
  margin: 0;
  padding: 0;
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

img {
  border: 0;
  display: block;
}

legend, hr {
  display: none;
}

th {
  font-style: inherit;
  font-weight: inherit;
}

li {
  list-style: none;
}

caption, th {
  text-align: left;
}

h1, h2, h3, h4, h5, h6 {
  font-size: 100%;
  font-weight: normal;
}

a {
  outline: none;
  hlbr: expression(this.onFocus=this.blur());
  text-decoration: none;
  cursor: pointer;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* main.css ==============================================*/
/*Variable*/
/*Mixin*/
/*Reset*/
.clearfix:before, .clearfix:after {
  content: "";
  display: table;
}

.clearfix:after {
  clear: both;
}

.clearfix {
  zoom: 1;
  display: block;
}

.hide {
  display: none;
}

::-moz-selection {
  background: #000;
  color: #fff;
}

::selection {
  background: #000;
  color: #fff;
  text-decoration: none;
}

::-webkit-input-placeholder {
  color: #999;
}

::-moz-placeholder {
  color: #999;
}

*:focus {
  outline: none;
}

a {
  color: #444;
  text-decoration: none;
  -webkit-transition: color 0.4s;
  transition: color 0.4s;
}

a:hover {
  color: #ec827d;
}

*::-webkit-media-controls-overlay-play-button {
  display: none !important;
  -webkit-appearance: none;
}

/*Body*/
html {
  font-size: 1vw;
}

html.is-lock, body.is-lock {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

body {
  font-size: 1rem;
  color: #000;
  font-family: "Noto Sans TC", sans-serif;
  overflow-x: hidden;
  overflow-y: scroll;
  background-size: 100%;
  text-align: center;
}
body.lock {
  overflow: hidden;
}

* {
  -webkit-text-size-adjust: none;
     -moz-text-size-adjust: none;
      -ms-text-size-adjust: none;
          text-size-adjust: none;
}

.g-section {
  position: relative;
}
#g-wrap {
  width: 100%;
  height: 100%;
  position: relative;
  padding: 1rem 3.2rem;
  overflow: hidden;
  background: url(../img/bg8.jpg) repeat fixed;
  background-size: 100%;
}

#g-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-bottom: 1.2rem;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
#g-header h1 {
  font-size: 0;
  font-weight: 900;
  font-family: "Nunito Sans";
}
#g-header h1 span {
  font-size: 8rem;
  color: #000;
}
#g-header h1 .space {
  width: 3rem;
  display: inline-block;
}

#g-nav ol {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}
#g-nav li {
  margin: 0 2rem;
}
#g-nav a {
  font-size: 1.3rem;
  padding: 0 0.2rem;
  position: relative;
  font-weight: 200;
}
#g-nav a:before {
  content: "";
  width: 0;
  height: 0.08rem;
  background: #000;
  position: absolute;
  top: 50%;
  left: 0;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  -webkit-transition-timing-function: cubic-bezier(0.23, 1, 0.32, 1);
          transition-timing-function: cubic-bezier(0.23, 1, 0.32, 1);
}
#g-nav a:hover:before, #g-nav a.active:before {
  width: 100%;
}

#g-main {
  position: relative;
  min-height: calc(100vh - 15rem);
}

.list-page {
  position: fixed;
  top: 100%;
  opacity: 0;
  pointer-events: none;
}
.list-page > ol {
  display: -ms-grid;
  display: grid;
  grid-template-columns: repeat(auto-fill, 30.8rem);
  grid-gap: 0rem;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.list-page > ol > li {
  width: 100%;
  opacity: 0;
  position: relative;
  overflow: hidden;
}
.list-page .img {
  position: relative;
  overflow: hidden;
  border-radius: 1vw;
}
.list-page .img img {
  width: 100%;
  display: block;
}
.list-page.active {
  position: static;
  opacity: 1;
  pointer-events: auto;
  -webkit-transition: 1s;
  transition: 1s;
}
.list-page.active > ol > li {
  -webkit-animation: list_li_show 0.5s cubic-bezier(0.23, 1, 0.32, 1) forwards;
          animation: list_li_show 0.5s cubic-bezier(0.23, 1, 0.32, 1) forwards;
}
@-webkit-keyframes list_li_show {
  0% {
    opacity: 0;
    -webkit-transform: translateY(200%) scale(0.5);
            transform: translateY(200%) scale(0.5);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0) scale(1);
            transform: translateY(0) scale(1);
  }
}
@keyframes list_li_show {
  0% {
    opacity: 0;
    -webkit-transform: translateY(200%) scale(0.5);
            transform: translateY(200%) scale(0.5);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0) scale(1);
            transform: translateY(0) scale(1);
  }
}
.list-page.active > ol > li:nth-of-type(1) {
  -webkit-animation-delay: 0.05s;
          animation-delay: 0.05s;
}
.list-page.active > ol > li:nth-of-type(2) {
  -webkit-animation-delay: 0.1s;
          animation-delay: 0.1s;
}
.list-page.active > ol > li:nth-of-type(3) {
  -webkit-animation-delay: 0.15s;
          animation-delay: 0.15s;
}
.list-page.active > ol > li:nth-of-type(4) {
  -webkit-animation-delay: 0.2s;
          animation-delay: 0.2s;
}
.list-page.active > ol > li:nth-of-type(5) {
  -webkit-animation-delay: 0.25s;
          animation-delay: 0.25s;
}
.list-page.active > ol > li:nth-of-type(6) {
  -webkit-animation-delay: 0.3s;
          animation-delay: 0.3s;
}
.list-page.active > ol > li:nth-of-type(7) {
  -webkit-animation-delay: 0.35s;
          animation-delay: 0.35s;
}
.list-page.active > ol > li:nth-of-type(8) {
  -webkit-animation-delay: 0.4s;
          animation-delay: 0.4s;
}
.list-page.active > ol > li:nth-of-type(9) {
  -webkit-animation-delay: 0.45s;
          animation-delay: 0.45s;
}
.list-page.active > ol > li:nth-of-type(10) {
  -webkit-animation-delay: 0.5s;
          animation-delay: 0.5s;
}
.list-page.active > ol > li:nth-of-type(11) {
  -webkit-animation-delay: 0.55s;
          animation-delay: 0.55s;
}
.list-page.active > ol > li:nth-of-type(12) {
  -webkit-animation-delay: 0.6s;
          animation-delay: 0.6s;
}
.list-page.active > ol > li:nth-of-type(13) {
  -webkit-animation-delay: 0.65s;
          animation-delay: 0.65s;
}
.list-page.active > ol > li:nth-of-type(14) {
  -webkit-animation-delay: 0.7s;
          animation-delay: 0.7s;
}
.list-page.active > ol > li:nth-of-type(15) {
  -webkit-animation-delay: 0.75s;
          animation-delay: 0.75s;
}
.list-page.active > ol > li:nth-of-type(16) {
  -webkit-animation-delay: 0.8s;
          animation-delay: 0.8s;
}
.list-page.active > ol > li:nth-of-type(17) {
  -webkit-animation-delay: 0.85s;
          animation-delay: 0.85s;
}
.list-page.active > ol > li:nth-of-type(18) {
  -webkit-animation-delay: 0.9s;
          animation-delay: 0.9s;
}
.list-page.active > ol > li:nth-of-type(19) {
  -webkit-animation-delay: 0.95s;
          animation-delay: 0.95s;
}
.list-page.active > ol > li:nth-of-type(20) {
  -webkit-animation-delay: 1s;
          animation-delay: 1s;
}
.list-page.active > ol > li:nth-of-type(21) {
  -webkit-animation-delay: 1.05s;
          animation-delay: 1.05s;
}
.list-page.active > ol > li:nth-of-type(22) {
  -webkit-animation-delay: 1.1s;
          animation-delay: 1.1s;
}
.list-page.active > ol > li:nth-of-type(23) {
  -webkit-animation-delay: 1.15s;
          animation-delay: 1.15s;
}
.list-page.active > ol > li:nth-of-type(24) {
  -webkit-animation-delay: 1.2s;
          animation-delay: 1.2s;
}
.list-page.active > ol > li:nth-of-type(25) {
  -webkit-animation-delay: 1.25s;
          animation-delay: 1.25s;
}
.list-page.active > ol > li:nth-of-type(26) {
  -webkit-animation-delay: 1.3s;
          animation-delay: 1.3s;
}
.list-page.active > ol > li:nth-of-type(27) {
  -webkit-animation-delay: 1.35s;
          animation-delay: 1.35s;
}
.list-page.active > ol > li:nth-of-type(28) {
  -webkit-animation-delay: 1.4s;
          animation-delay: 1.4s;
}
.list-page.active > ol > li:nth-of-type(29) {
  -webkit-animation-delay: 1.45s;
          animation-delay: 1.45s;
}
.list-page.active > ol > li:nth-of-type(30) {
  -webkit-animation-delay: 1.5s;
          animation-delay: 1.5s;
}

#list-all > ol > li, #list-web > ol > li, #list-graphic > ol > li, #list-banner > ol > li {
  margin-bottom: 0.1rem;
  background-color: rgba(255, 255, 255, 0.65);
  -webkit-backdrop-filter: blur(0.2rem);
          backdrop-filter: blur(0.2rem);
  border: 1px solid #fff;
  -webkit-box-shadow: inset 0rem 0rem 1.5rem rgba(0, 0, 0, 0.2);
          box-shadow: inset 0rem 0rem 1.5rem rgba(0, 0, 0, 0.2);
  padding: 2vw;
  border-radius: 2.5vw;
  text-align: left;
  position: relative;
}
#list-all .txt-links, #list-web .txt-links, #list-graphic .txt-links, #list-banner .txt-links {
  display: block;
  margin-bottom: 1vw;
}
#list-all .img, #list-web .img, #list-graphic .img, #list-banner .img {
  margin-bottom: 2vw;
}
#list-all .img img, #list-web .img img, #list-graphic .img img, #list-banner .img img {
  -webkit-transform: scale(1);
          transform: scale(1);
}
#list-all .img:hover .img img, #list-web .img:hover .img img, #list-graphic .img:hover .img img, #list-banner .img:hover .img img {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
  -webkit-transition: 2s;
  transition: 2s;
}
#list-all .img:hover .txt, #list-web .img:hover .txt, #list-graphic .img:hover .txt, #list-banner .img:hover .txt {
  -webkit-transform: scale(1);
          transform: scale(1);
  opacity: 1;
}
#list-all .txt, #list-web .txt, #list-graphic .txt, #list-banner .txt {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: rgba(255, 255, 255, 0.5);
  -webkit-backdrop-filter: blur(1rem);
          backdrop-filter: blur(1rem);
  opacity: 0;
  -webkit-transform: scale(0.8);
          transform: scale(0.8);
  -webkit-transition: 0.3s;
  transition: 0.3s;
  color: #fff;
  text-shadow: 0 0 2rem #000;
  border-radius: 1vw;
  text-align: center;
  padding: 3vw;
}
#list-all .txt h2, #list-web .txt h2, #list-graphic .txt h2, #list-banner .txt h2 {
  font-size: 1rem;
}
#list-all .txt small, #list-web .txt small, #list-graphic .txt small, #list-banner .txt small {
  font-size: 1rem;
  font-weight: bold;
  display: block;
}
#list-all .txt-links, #list-web .txt-links, #list-graphic .txt-links, #list-banner .txt-links {
  display: block;
}
#list-all .txt-links h3, #list-web .txt-links h3, #list-graphic .txt-links h3, #list-banner .txt-links h3 {
  color: #000;
  font-size: 1.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 0.1rem;
  position: relative;
  display: inline-block;
  font-weight: 400;
}
#list-all .txt-links h3::after, #list-web .txt-links h3::after, #list-graphic .txt-links h3::after, #list-banner .txt-links h3::after {
  content: "";
  width: 0;
  height: 1px;
  background-color: #000;
  position: absolute;
  top: 100%;
  left: 0;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
#list-all .txt-links p, #list-web .txt-links p, #list-graphic .txt-links p, #list-banner .txt-links p {
  color: #767676;
  font-size: 0.8rem;
  letter-spacing: 0.1rem;
  -webkit-transition: 0.1s;
  transition: 0.1s;
  font-weight: 250;
}
#list-all a.txt-links:hover h3::after, #list-web a.txt-links:hover h3::after, #list-graphic a.txt-links:hover h3::after, #list-banner a.txt-links:hover h3::after {
  width: 100%;
}
#list-all a.txt-links:hover p, #list-web a.txt-links:hover p, #list-graphic a.txt-links:hover p, #list-banner a.txt-links:hover p {
  opacity: 0.5;
}
#list-all .out-links, #list-web .out-links, #list-graphic .out-links, #list-banner .out-links {
  background: url(../img/link.svg) 50% 50% no-repeat #000;
  background-size: 60%;
  display: block;
  width: 29px;
  height: 29px;
  position: absolute;
  top: 18.5rem;
  right: 2rem;
  z-index: 1;
  border-radius: 50%;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}
#list-all .out-links:hover, #list-web .out-links:hover, #list-graphic .out-links:hover, #list-banner .out-links:hover {
  background-color: #6f6f6f;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}
#list-all .tag, #list-web .tag, #list-graphic .tag, #list-banner .tag {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
}
#list-all .tag span, #list-web .tag span, #list-graphic .tag span, #list-banner .tag span {
  font-size: 0.8rem;
  color: #444444;
  line-height: 1;
  padding: 3px 10px;
  border: 1px solid rgba(0, 0, 0, 0.1019607843);
  border-radius: 5vw;
  margin-right: 0.3vw;
  background-color: #fff;
  font-weight: 400;
}
#list-all .year, #list-web .year, #list-graphic .year, #list-banner .year {
  width: 50px;
  height: 50px;
  background-color: rgba(255, 50, 162, 0.9);
  border-radius: 5vw;
  display: block;
  font-size: 0.8rem;
  color: #fff;
  text-align: center;
  -ms-flex-line-pack: center;
      align-content: center;
  position: absolute;
  left: 11px;
  top: 11px;
}

#list-logo > ol {
  grid-template-columns: repeat(auto-fill, 30.8%);
}
#list-logo > ol > li {
  margin-bottom: 1.5rem;
}
#list-logo .img {
  border: 1px solid #ccc;
}
#list-logo .txt {
  text-align: left;
  font-size: 1.2rem;
  padding-top: 1rem;
}

#list-about {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-bottom: 5rem;
}
#list-about .img {
  width: 50%;
}
#list-about .img img {
  margin-left: -3.2rem;
}
#list-about .txt {
  width: 50%;
  text-align: left;
}
#list-about .txt .text-iam-patty {
  width: 20rem;
  height: 10rem;
  background: url(../img/text-i-am-patty.svg) no-repeat center top;
  background-size: 100%;
  display: block;
  text-indent: -9999px;
  margin-bottom: 1rem;
}
#list-about .txt .text-name {
  width: 17rem;
  height: 2.5rem;
  background: url(../img/text-name.svg) no-repeat center top;
  background-size: 100%;
  display: block;
  text-indent: -9999px;
  margin: 5rem 0 3rem;
}
#list-about h3 {
  font-size: 1.5rem;
  margin-top: 3rem;
  font-weight: bold;
}
#list-about h4 {
  font-size: 1.5rem;
  font-weight: bold;
  color: #ec827d;
}
#list-about dl {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 30rem;
}
#list-about dl dt {
  width: 60%;
}
#list-about dl dt:before {
  content: "";
  width: 0.5rem;
  height: 0.5rem;
  border: 0.15rem solid #ec827d;
  border-radius: 50rem;
  display: inline-block;
  margin-right: 0.5rem;
}
#list-about dl dd {
  width: 40%;
  font-size: 0.9rem;
}
#list-about dl ~ h4 {
  margin-top: 1rem;
}
#list-about .column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 35rem;
}
#list-about .list-dot li:before {
  content: "";
  width: 0.5rem;
  height: 0.5rem;
  border: 0.15rem solid #ec827d;
  border-radius: 50rem;
  display: inline-block;
  margin-right: 0.5rem;
}
#list-about .list-dot.has-2-col {
  -webkit-column-count: 2;
     -moz-column-count: 2;
          column-count: 2;
}

#list-detail img {
  width: 100%;
}
#list-detail.active #list-detail-close {
  opacity: 1;
  -webkit-transform: scale(1);
          transform: scale(1);
}
#list-detail.active #list-detail-close:hover {
  -webkit-transform: scale(1) rotate(90deg);
          transform: scale(1) rotate(90deg);
}

#list-detail-close {
  cursor: pointer;
  position: fixed;
  top: 10rem;
  right: 4.5rem;
  width: 4rem;
  height: 4rem;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  background: url(../img/icon-close.svg) no-repeat center;
  border: 0.1rem solid #000;
  background-size: 45%;
  border-radius: 50%;
  opacity: 0;
  -webkit-transform: scale(0);
          transform: scale(0);
  -webkit-transition: 0.5s;
  transition: 0.5s;
  -webkit-transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
          transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
  z-index: 5;
}

#g-footer {
  padding: 2rem 0 0;
  font-weight: 200;
  letter-spacing: 0.1rem;
}

@media screen and (min-width: 900px) {
  .is-m {
    display: none !important;
  }
}
@media screen and (max-width: 1200px) {
  html {
    font-size: 1.5vw;
  }
  #list-about .column {
    display: block;
  }
  #list-about .column > div:last-child {
    margin-top: 1rem;
  }
  .list-page > ol {
    grid-template-columns: repeat(auto-fill, 30.8%);
  }
}
@media screen and (max-width: 900px) {
  .is-pc {
    display: none !important;
  }
  html {
    font-size: 3vw;
  }
  #g-wrap {
    padding: 1.5rem;
  }
  #g-header {
    display: block;
  }
  #g-nav {
    margin: 1rem 0 3rem;
  }
  #g-nav ol {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  #g-nav a {
    margin: 0.2rem 1.5rem;
    display: block;
  }
  #g-nav a:hover, #g-nav a.active {
    color: #ec827d;
  }
  #g-nav a:hover:before, #g-nav a.active:before {
    height: 0.1rem;
    background-color: #ec827d;
  }
  .list-page > ol {
    grid-template-columns: repeat(auto-fill, 30.8%);
  }
  #list-all .txt, #list-web .txt, #list-graphic .txt, #list-banner .txt {
    position: static;
    opacity: 1;
    display: block;
    color: #000;
    text-shadow: none;
    text-align: left;
    -webkit-transform: scale(1);
            transform: scale(1);
    padding-top: 0.5rem;
  }
  #list-all .txt h2, #list-web .txt h2, #list-graphic .txt h2, #list-banner .txt h2 {
    font-size: 1.2rem;
  }
  #list-all .txt p, #list-web .txt p, #list-graphic .txt p, #list-banner .txt p {
    font-size: 0.7rem;
  }
  #list-logo {
    padding: 0 0rem;
  }
  #list-logo > ol {
    grid-template-columns: repeat(auto-fill, 30.8%);
  }
  #list-logo > ol > li {
    margin: 0 0% 1.5rem;
  }
  #list-logo .txt {
    padding-top: 0.5rem;
  }
  #list-about {
    display: block;
  }
  #list-about .img {
    width: 112%;
  }
  #list-about .img img {
    margin-left: -5%;
  }
  #list-about .txt {
    width: 90%;
    margin-top: 2rem;
    margin-left: 5%;
  }
  #list-about .txt .text-iam-patty {
    width: 17rem;
    height: 8rem;
  }
  #list-detail-close {
    position: absolute;
    top: -2rem;
    right: -0.5rem;
  }
}
@media screen and (max-width: 400px) {
  .list-page > ol {
    grid-template-columns: repeat(auto-fill, 100%);
  }
  #list-all > ol > li, #list-web > ol > li, #list-graphic > ol > li, #list-banner > ol > li {
    width: 100%;
  }
  #list-logo {
    padding: 0;
  }
  #list-logo > ol {
    grid-template-columns: repeat(auto-fill, 100%);
  }
  #list-logo > ol > li {
    width: 100%;
    margin: 0 0% 1.5rem;
  }
}